@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Manjari&display=swap');
html {
    height: 100%;
}
body {
    font-family: 'Manjari', sans-serif;
    margin: 0;
}
ul  {
    list-style-type: none;
}
html,body {
  width: 100%;
  overflow-x: hidden;
}
.background {
    font-family: 'Manjari', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.register-button {
  background-color: #4a5dfe;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-right: 1.25rem;
  cursor: pointer;
  margin: auto;
  border-radius: 1.25rem;
  margin-right: 1rem;
}

.discord-button {
    background-color: #4a5dfe;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin-right: 1.25rem;
    cursor: pointer;
    margin: auto;
    border-radius: 1.25rem;
    margin-left: 1rem;
  }

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
nav > a {
    font-size: 2.5rem;
    text-decoration: none;
    right: 4.5rem;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
nav > ul {
    display: inline-block;
    list-style-type: none;
}
nav > ul > li {
    float: left;
    padding: 1rem;
}
nav > ul > li:hover {
    border-radius: 1.5rem;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
nav > ul > li > a {
    font-size: 1.3rem;
    text-decoration: none;
}
.navTransparent {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: transparent;
}
.navTransparent > ul > li:hover {
    border: 0.1rem solid white;
}
.navTransparent > ul > li > a {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: white;
    font-size: 1.3rem;
}
.navTransparent > a {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #FFFFFF;
}
.navColor {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #252525;
}
.navColor > ul > li:hover {
    border: 0.1rem solid #ffd156;
}
.navColor > ul > li > a {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #b0b7c4;
}
.navColor > a {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #b0b7c4;
}
footer {
    margin: 2rem;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
}
footer > a > img {
    height: auto;
    width: 6rem;
}
.flexbox {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.flex-img {
    width: 70%;
}
.flex-info {
  margin-top: 4rem;
    width: 75%;
}

.date {
    color: #FFFFFF !important;
    font-size: 3.5rem !important;
}

.info p {
    color: #FFFFFF;
    font-size: 3.5rem;
}
header {
    width: 100%;
    background: url('../media/background.gif');
    background-attachment: fixed;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position:static;
    
}
.logo-normal {
    margin-top: 4.5rem;
    width: 120%;
    float: right;
}
header li {
    padding: 2rem;
    font-size: 4rem;
    color: white;
}
.main-container {
    padding-top: 1.5rem;
    height: 50rem;
    width: 70%;
    justify-content: center;
}
.body-container {
    display: flex;
    flex-direction: column;
}
.body-container > div {
    padding-bottom: 3.5%;
}
.body-container > div > h1 {
  font-size: 2.2rem;
  color: #ed8b3b;
}
.colored   {
    background-color: #f3f4f3;
}
.colored > h1   {
    color: black;
}
.flex-info > ul {
  list-style-type: circle;
  color: #b0b7c4;
  font-size: 1.25rem;
}
.subtitle {
  left: 5rem;
  font-size: 2rem;
}
h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 3.5%;
}
p {
    color: #b0b7c4 !important;
    font-size: 1.5rem !important;
}
table {
    margin: auto;
    font-size: 1.5rem;
    border: none;
    width: 100%;
}
td, th {
    border: 0.1rem solid #dddddd;
    text-align: left;
    padding: .25rem;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.divider {
  height: 0.2rem;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#252525), to(#252525), color-stop(50%, #ffd156));
}
#about {
  background-color: #252525;
}
#schedule {
  background-color: #353535;
}
#faq {
  background-color: #252525;
}
#sponsors {
  background-color: #353535;
}
#team {
  background-color: #252525;
}
.about-content  {
    width: 95%;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}
.about-content li   {
    padding: 1rem;
}
.image-box {
    height: 100%;
    width: 40%;
}
.team {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: 100%;
    text-align: center;
}
.team a:link{
	color: black;
}
.team a:visited{
	color: black;
}
.team > div {
    width: 18rem;
    margin: 1vw;
}
.team > div > img {
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
}
.team > div > h2 {
    font-size: 1.5rem;
    color: #ffd156;
}
.team > div > p {
    font-size: 1.25rem !important;
    color: #b0b7c4;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.row > div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.row > div > div{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.row button {
  width: 60%;
  font-size: 1.25rem;
  background-color: #ffd156;
  margin-left: auto;
  margin-right: auto;
}

.accordion {
  color: #252525;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ed8b3b;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel > p {
  color: #b0b7c4;
  padding-left: 1rem;
}
.panel > p > a {
  color: #ffd156;
  text-decoration: none;
}
.accordion:after {
  content: '\27A4';
  font-size: 1.5rem;
  color: #475bfd;
  float: right;
}

.active:after {
  content: "\25BC";
}
.sponsors   {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    padding-bottom: 2rem;
}
.sponsors > li {
    padding: .8vh 1vw;
    flex-basis: 25%;
}
.sponsors a:hover {
    cursor: pointer;
}
.sponsors img:hover {
    cursor: pointer;
}
.sponsors img {
    height: auto;
    width: 100%;
}

.scale-img{
  height: 70%;
  width: 70%;
  padding-left: 7rem;
}

.schedule   {
    width: 100%;
    text-align: center;
}
.schedule table {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    text-align: left;
    color: #b0b7c4;
    font-size: 20px;
    border: none;
    background-color: #353535;
}

td {
  color: #ffd156;
}
tr, th, td  {
    padding-top: 1rem;
    background-color: #353535 !important;
    border: none;
}
.table_heading  {
    color: #b0b7c4;
    border-bottom: 0.1rem solid #ed8b3b;
}



@media only screen and (min-width: 768px) and (max-width: 1280px) {
  nav {
      display: none;
  }
   header {
        width: 100%;
        background:#353535;
        background-attachment: fixed;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position:static;
    }
     .main-container {
        padding-top: 3vh;
        height: 90vh;
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .logo-normal    {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .flexbox {
        flex-direction: column;
    }
    .flex-img   {
        width: 40%;
        padding-right: 2rem !important;
    }
    .flex-info  {
        text-align: center;
        width: 100%;
        padding: 0px;
    }
    .main-container p   {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 180%;
    }

    .faq {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .faq > h1 {
        width: 100%;
    }
    .faq > div {
        font-size: 4vh;
        padding: 1vw;
        width: 75%;
    }
    .faq > div > p {
        font-size: 3vh;
    }

    .main-container li  {
        padding: 0px;
    }
    header > p {
        width: 100%;
        font-size: 5vh;
        margin-top: 5vh;
        text-align: center;
    }
    .body-container {
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    #about {
        padding: 0% 10% 5%;
    }


    h1 {
        text-align: center;
        font-size: 5vh;
        padding-top: 10%;
    }
    p {
        font-size: 3vh;
    }
    .about-img  {
        width: 100%;
    }
    .team   {
        width: 100%;
    }
    .team > div {
        width: 75%;
        margin: 1vw;
    }
    .sponsors {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .sponsors img   {
        width: 100%;
    }
    .scale-img{
      padding-left: 0;
    }
}
@media only screen and (max-width : 767px){
    nav {
        display: none;
    }
    header {
        width: 100%;
        background: #353535;
        background-attachment: fixed;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position:static;
    }
     .main-container {
        padding-top: 3vh;
        height: 90vh;
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .logo-normal    {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .flexbox {
        flex-direction: column;
    }
    .flex-img   {
        width: 70%;
        padding-right: 2rem !important;
        margin-top: 10rem !important;
    }
    .flex-info  {
        text-align: center;
        width: 97%;
        padding: 0px;
    }
    .main-container p   {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 180%;
    }
    .main-container li  {
        padding: 0px;
    }
    .register-button {
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 2rem;
    }

    .discord-button {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 15rem;
    }
    header > p {
        width: 100%;
        font-size: 5vh;
        margin-top: 5vh;
        text-align: center;
    }
    .body-container {
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    #about {
        padding: 0% 5% 5%;
    }

    .faq {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .faq > h1 {
        width: 100%;
    }
    .faq > div {
        font-size: 4vh;
        padding: 1vw;
        width: 75%;
    }
    .faq > div > p {
        font-size: 3vh;
    }

    h1 {
        text-align: center;
        font-size: 5vh;
        padding-top: 10%;
    }
    p {
        font-size: 3vh;
    }
    .about-img  {
        width: 100%;
    }
    .team   {
        100%;
    }
    .team > div {
        width: 80%;
        margin: 1vw;
    }
    .sponsors {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .sponsors img   {
        width: 100%;
    }
    .scale-img{
      padding-left: 0;
    }


    .row button {
        width: 100%;
    }
}
