@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.welcome-text{
    margin-top: 3rem;
    font-size: 4rem;
    color: white;
}

.date-text{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    color: white;
}

/* Index Container */
.image-container{
    width: 50%;
}

.date-container{
    text-align: center;
}

.register-button {
    background-color: #e2c301;
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 12px;
}

.discord-button {
    background-color: #e2c301;
    border: none;
    color: white;
    padding: 15px 30px;
    margin-left: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 12px;
}

.register-button:hover{
    background-color: #f1d938;
    color: white;
}

.discord-button:hover{
    background-color: #f1d938;
    color: white;
}

/* Index CSS */
body{
    font-family: 'Inter', sans-serif;
    margin: 0 0 0 0;
}

.nav-item{
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.navbar-custom { 
    background-color: #0a192f!important; 
} 

.nav-link{
    font-size: 20px;
    margin-right: 1rem;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
}

.nav-link:hover{
    font-size: 20px;
    border: 1px solid #e2c301;
    border-radius: 3px;
}

#register-special-button {
    border: 1px solid #e2c301;
    border-radius: 3px;
    margin-right: 1rem;
    color: #e2c301;
    
}

#register-special-button:hover {
    text-decoration: none;
    color: white;
    transition-duration: 500ms;
    background-color: rgba(226, 195, 1, .3);
}
.nav-link:hover{
    color: white;
}

.jumbotron{
    background-color: #0a192f!important;
    padding: 3rem 3rem;
}

.jumbotron2{
    background-color: #102038!important;
    padding: 3rem 3rem;
}

/* ABOUT CSS */

#about{
    padding-top: 3rem;
}

.about-header{
    width: 100%;
    font-size: 2rem;
    color:white;
    padding-bottom: 1rem;
}

.text-container {
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

.text-container-about {
    font-size: 1.3rem;
    text-align: left;
    color: white;
}

/* Our Team CSS */

.team-img{
    width: 50%;
}

.col-team{
    text-align: center;
}


/* FAQ CSS */

.space-giver{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.accordion-body{
    color: white;
}

.accordion-button{
    background-color: white;
    color: rgb(226, 195, 1);
}


.col2{
    padding-left: 3rem;
}

.col1{
    padding-right: 3rem;
}


/* SCHEDULE CSS */

.schedule   {
    width: 100%;
    text-align: center;
}
.schedule table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    text-align: left;
    color: white;
    font-size: 20px;
    border: none;
    background-color: #102038;
}
td  {
    padding: 2vh 2vw;
}
tr, th, td  {
    border: none;
    background-color: #102038;
}
.table_heading  {
    border-bottom: 2px solid #333333;
    margin: 0 2vw;
}
.section-heading {
    padding-top: 50px;
    font-size: 400%
}

/* Mobile Stuff */
@media only screen and (min-width: 768px) and (max-width: 1280px) {


    .register-special-button {
        border: none;
    }
    #register-special-button {
        border: none;
        margin-right: 1rem;
        color: #9197a1;
        
    }

        .image-container{
        width: 100%;
    }


}

@media only screen and (min-width : 325px) and (max-width : 767px){
    #register-special-button {
        border: none;
        margin-right: 1rem;
        color: #9197a1;
        
    }

    .image-container{
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    #specialcolumn{
        flex-direction: column; 
    }

    .col2{
        padding-top: 1rem;
        padding-left: 0;
    }
    
    .col1{
        padding-top: 3rem;
        padding-right: 0;
    }
    .register-special-button {
        border: none;
    }

    .register-button {
        margin-right: 0;
    }
    
    .discord-button {
        margin-left: 0;
        margin-top: 3rem;
    }

}



@media only screen and (max-width : 325px){

    #register-special-button {
        border: none;
        margin-right: 1rem;
        color: #64ffda;
        
    }

    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    #specialcolumn{
        flex-direction: column; 
    }

    .col2{
        padding-top: 1rem;
        padding-left: 0;
    }
    
    .col1{
        padding-top: 3rem;
        padding-right: 0;
    }

    .image-container{
        width: 100%;
    }
    
    .register-special-button {
        border: none;
    }

    .register-button {
        margin-right: 0;
    }
    
    .discord-button {
        margin-left: 0;
        margin-top: 3rem;
    }
    .welcome-text{
        margin-top: 3rem;
        font-size: 2rem;
    }
    
    .date-text{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        color: white;
    }


}